FASTAPI_CFG__APP_ENV=local
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_DB_TEST=postgres
POSTGRES_DB_PROD=postgres_prod_01
POSTGRES_HOST=db_postgres
REDIS_PASSWORD=local-redis-password
REDIS_PORT=6379
REDIS_HOST=redis
